@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-poppins: var(--font-poppins);
  --font-megrim: var(--font-megrim);

  --font-weight-light: 100;
  --font-weight-regular: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
  --font-weight-extrabold: 900;

  --text-special-headline: clamp(3rem, 12vw + 1rem, 12rem);
  --text-headline: clamp(2.5rem, 8vw + 1rem, 8rem);
  --text-subheadline: clamp(2rem, 6vw + 1rem, 6rem);
  --text-title: clamp(1.5rem, 3vw + 1rem, 3rem);
  --text-regular: clamp(1rem, 2vw + 1rem, 1.125rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
  }

  h1 {
    font-size: var(--text-special-headline);
    font-weight: var(--font-weight-extrabold);
  }
  h2 {
    font-size: var(--text-headline);
    font-weight: var(--font-weight-bold);
  }
  h3 {
    font-size: var(--text-subheadline);
  }
  h4 {
    font-size: var(--text-title);
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}
